@CHARSET "UTF-8";
 .spcheckboxCheck {
    height: 24px;
    display: block;
    float: left;
    margin-left: 5px;
    cursor: pointer;
    background: url("checkbox.png") no-repeat left top;
}
 .spcheckbox {
    height: 24px;
    display: block;
    float: left;
    margin-left: 5px;
    cursor: pointer;
    background: url("checkbox.png") no-repeat left bottom;
}
 .spradioCheck {
    height: 24px;
    display: block;
    float: left;
    margin-left: 5px;
    cursor: pointer;
    background: url("checkbox.png") no-repeat left top;
    margin-right: 20px;
    border: 1px solid red;
}

 .spradio {
    height: 24px;
    display: block;
    float: left;
    margin-left: 5px;
    cursor: pointer;
    background: url("checkbox.png") no-repeat left bottom;
    margin-right: 20px;
}

 .labelfor {
    margin-left: 35px;
    width: 170px;
    margin-bottom: 10px;
    font-size:14px;
}
 input[type='checkbox'] {
    filter: alpha(opacity=0);
    ZOOM: 1;
    opacity: 0;
    border: 1px solid red;
}
